.sign-up {
 justify-content: center;
 align-items: center;
  position: absolute;
    right: 10px;
     top: 10px;
     position: fixed;
     
    }
    .sign {
        padding: 10px 20px;
   
    background:lightblue ;
    border-radius: 10px;
    cursor: pointer;
    background-image: linear-gradient(90deg, rgb(214, 214, 240), rgb(10, 251, 10));
        
        
    }
    .form {
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 10px;
        top: 60px;
        padding: 10px;
        border: 1px solid black;
        
    }
    .sf {
        margin-left: 2px;
        margin-right: 10px;
        margin-top: 2px;
        background-color:rgb(53, 208, 208) ;
        border-radius: 10px;
        height: 35px;
        
    }
    .su {
        
        margin-left: 22px;
        background-color:rgb(149, 239, 247) ;
        border-radius: 10px;
       
        height: 40px;
    }
    